<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button color="dark" expand="block" routerLink="/general/index"
      >Regresar</ion-button
    >

    <form [formGroup]="formInsertSchedule">
      <h3 class="ion-text-center">Registrar actividad</h3>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <div class="divErrorMessage">
        <ion-label *ngIf="name.hasError('required') && name.dirty"
          >Este campo es requerido</ion-label
        >
      </div>
      <div>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Fecha y Hora de Inicio</ion-label>
          <ion-datetime
            formControlName="startTime"
            displayFormat="D MMM YYYY H:mm"
          ></ion-datetime>
        </ion-item>
        <div class="divErrorMessage">
          <ion-label *ngIf="startTime.hasError('required') && startTime.dirty"
            >Este campo es requerido</ion-label
          >
        </div>
      </div>

      <div>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Fecha y Hora de termino</ion-label>
          <ion-datetime
            displayFormat="D MMM YYYY H:mm"
            formControlName="endTime"
          ></ion-datetime>
        </ion-item>
        <div class="divErrorMessage">
          <ion-label *ngIf="endTime.hasError('required') && endTime.dirty"
            >Este campo es requerido</ion-label
          >
        </div>
      </div>

      <ion-button color="dark" expand="block" (click)="register()"
        >Registrar Actividad</ion-button
      >
    </form>
  </div>
</ion-content>
