<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <form [formGroup]="formInsertUser">
      <h3 class="ion-text-center">Registrar nuevo usuario</h3>
      <div>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <div class="divErrorMessage">
          <ion-label *ngIf="email.hasError('required') && email.dirty"
            >Este campo es requerido</ion-label
          >
        </div>
      </div>
      <div>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
        <div class="divErrorMessage">
          <ion-label *ngIf="password.hasError('required') && password.dirty"
            >Este campo es requerido</ion-label
          >
        </div>
      </div>

      <div>
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input formControlName="password_confirmation"></ion-input>
        </ion-item>
        <div class="divErrorMessage">
          <ion-label
            *ngIf="password_confirmation.hasError('required') && password_confirmation.dirty"
            >Este campo es requerido</ion-label
          >
        </div>
      </div>

      <ion-button color="dark" expand="block" (click)="registerUser()"
        >Registrar Usuario</ion-button
      >
    </form>
  </div>
</ion-content>
